In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from astropy import units as u
from astropy.coordinates import SkyCoord

from dblinea import DBBase

%reload_ext autoreload
%autoreload 2

In [2]:
db = DBBase()

In [3]:
schema = "des_dr2"
tablename = "main"

In [4]:
db.get_table_columns(tablename, schema=schema)

['coadd_object_id',
 'tilename',
 'hpix_32',
 'hpix_64',
 'hpix_1024',
 'hpix_4096',
 'hpix_16384',
 'ra',
 'dec',
 'alphawin_j2000',
 'deltawin_j2000',
 'galactic_l',
 'galactic_b',
 'xwin_image',
 'ywin_image',
 'a_image',
 'erra_image',
 'b_image',
 'errb_image',
 'theta_j2000',
 'errtheta_image',
 'kron_radius',
 'ebv_sfd98',
 'mag_auto_g_dered',
 'mag_auto_r_dered',
 'mag_auto_i_dered',
 'mag_auto_z_dered',
 'mag_auto_y_dered',
 'wavg_mag_psf_g_dered',
 'wavg_mag_psf_r_dered',
 'wavg_mag_psf_i_dered',
 'wavg_mag_psf_z_dered',
 'wavg_mag_psf_y_dered',
 'extended_class_coadd',
 'extended_class_wavg',
 'flags_g',
 'imaflags_iso_g',
 'nepochs_g',
 'flags_r',
 'imaflags_iso_r',
 'nepochs_r',
 'flags_i',
 'imaflags_iso_i',
 'nepochs_i',
 'flags_z',
 'imaflags_iso_z',
 'nepochs_z',
 'flags_y',
 'imaflags_iso_y',
 'nepochs_y',
 'xwin_image_g',
 'xwin_image_r',
 'xwin_image_i',
 'xwin_image_z',
 'xwin_image_y',
 'ywin_image_g',
 'ywin_image_r',
 'ywin_image_i',
 'ywin_image_z',
 'ywin_image_y',
 'x2win_image_g',
 'x2win_image_r',
 'x2win_image_i',
 'x2win_image_z',
 'x2win_image_y',
 'y2win_image_g',
 'y2win_image_r',
 'y2win_image_i',
 'y2win_image_z',
 'y2win_image_y',
 'xywin_image_g',
 'xywin_image_r',
 'xywin_image_i',
 'xywin_image_z',
 'xywin_image_y',
 'errx2win_image_g',
 'errx2win_image_r',
 'errx2win_image_i',
 'errx2win_image_z',
 'errx2win_image_y',
 'erry2win_image_g',
 'erry2win_image_r',
 'erry2win_image_i',
 'erry2win_image_z',
 'erry2win_image_y',
 'errxywin_image_g',
 'errxywin_image_r',
 'errxywin_image_i',
 'errxywin_image_z',
 'errxywin_image_y',
 'awin_image_g',
 'awin_image_r',
 'awin_image_i',
 'awin_image_z',
 'awin_image_y',
 'bwin_image_g',
 'bwin_image_r',
 'bwin_image_i',
 'bwin_image_z',
 'bwin_image_y',
 'thetawin_image_g',
 'thetawin_image_r',
 'thetawin_image_i',
 'thetawin_image_z',
 'thetawin_image_y',
 'errawin_image_g',
 'errawin_image_r',
 'errawin_image_i',
 'errawin_image_z',
 'errawin_image_y',
 'errbwin_image_g',
 'errbwin_image_r',
 'errbwin_image_i',
 'errbwin_image_z',
 'errbwin_image_y',
 'errthetawin_image_g',
 'errthetawin_image_r',
 'errthetawin_image_i',
 'errthetawin_image_z',
 'errthetawin_image_y',
 'flux_radius_g',
 'flux_radius_r',
 'flux_radius_i',
 'flux_radius_z',
 'flux_radius_y',
 'fwhm_image_g',
 'fwhm_image_r',
 'fwhm_image_i',
 'fwhm_image_z',
 'fwhm_image_y',
 'isoarea_image_g',
 'isoarea_image_r',
 'isoarea_image_i',
 'isoarea_image_z',
 'isoarea_image_y',
 'background_g',
 'background_r',
 'background_i',
 'background_z',
 'background_y',
 'niter_model_g',
 'niter_model_r',
 'niter_model_i',
 'niter_model_z',
 'niter_model_y',
 'kron_radius_g',
 'kron_radius_r',
 'kron_radius_i',
 'kron_radius_z',
 'kron_radius_y',
 'mag_auto_g',
 'mag_auto_r',
 'mag_auto_i',
 'mag_auto_z',
 'mag_auto_y',
 'magerr_auto_g',
 'magerr_auto_r',
 'magerr_auto_i',
 'magerr_auto_z',
 'magerr_auto_y',
 'wavg_mag_psf_g',
 'wavg_mag_psf_r',
 'wavg_mag_psf_i',
 'wavg_mag_psf_z',
 'wavg_mag_psf_y',
 'wavg_magerr_psf_g',
 'wavg_magerr_psf_r',
 'wavg_magerr_psf_i',
 'wavg_magerr_psf_z',
 'wavg_magerr_psf_y',
 'flux_auto_g',
 'flux_auto_r',
 'flux_auto_i',
 'flux_auto_z',
 'flux_auto_y',
 'fluxerr_auto_g',
 'fluxerr_auto_r',
 'fluxerr_auto_i',
 'fluxerr_auto_z',
 'fluxerr_auto_y',
 'wavg_flux_psf_g',
 'wavg_flux_psf_r',
 'wavg_flux_psf_i',
 'wavg_flux_psf_z',
 'wavg_flux_psf_y',
 'wavg_fluxerr_psf_g',
 'wavg_fluxerr_psf_r',
 'wavg_fluxerr_psf_i',
 'wavg_fluxerr_psf_z',
 'wavg_fluxerr_psf_y',
 'class_star_g',
 'class_star_r',
 'class_star_i',
 'class_star_z',
 'class_star_y',
 'spread_model_g',
 'spread_model_r',
 'spread_model_i',
 'spread_model_z',
 'spread_model_y',
 'wavg_spread_model_g',
 'wavg_spread_model_r',
 'wavg_spread_model_i',
 'wavg_spread_model_z',
 'wavg_spread_model_y',
 'spreaderr_model_g',
 'spreaderr_model_r',
 'spreaderr_model_i',
 'spreaderr_model_z',
 'spreaderr_model_y',
 'wavg_spreaderr_model_g',
 'wavg_spreaderr_model_r',
 'wavg_spreaderr_model_i',
 'wavg_spreaderr_model_z',
 'wavg_spreaderr_model_y']

In [29]:
query = 'SELECT coadd_object_id, ra, dec FROM des_dr2.main WHERE ra BETWEEN 45 AND 46 AND dec BETWEEN -32 AND -31 limit 10'
dataframe_10_objects = db.fetchall_df(query)
dataframe_10_objects

   coadd_object_id         ra        dec
0       1355902130  45.000002 -31.697327
1       1355329860  45.000003 -31.125265
2       1355882368  45.000007 -31.481422
3       1355339853  45.000017 -31.237568
4       1358241977  45.000018 -31.862678
5       1355874612  45.000056 -31.400301
6       1355866784  45.000057 -31.320715
7       1355900152  45.000085 -31.675675
8       1355864764  45.000085 -31.294674
9       1355869004  45.000086 -31.341562

In [31]:
coord = SkyCoord('03h28m19.5s', '-31d04m05s', frame='icrs')
coord

<SkyCoord (ICRS): (ra, dec) in deg
    (52.08125, -31.06805556)>

In [32]:
print(f"R.A.: {coord.ra.deg:.1f} degrees")
print(f"Dec.: {coord.dec.deg:.1f} degrees")

R.A.: 52.1 degrees
Dec.: -31.1 degrees

In [34]:
query_1 = """SELECT 
    coadd_object_id, ra ,dec, flags_g, mag_auto_g_dered, mag_auto_r_dered, mag_auto_i_dered, 
    magerr_auto_g, magerr_auto_r, magerr_auto_i 
    
    FROM des_dr2.main 
    WHERE q3c_poly_query(ra, dec, ARRAY[51.5, -31.5, 52.5, -31.5, 52.5, -30.5, 51.5, -30.5]) 
    AND extended_class_coadd < 2 """

In [35]:
dados_exemplo_1 = db.fetchall_df(query_1)

CPU times: user 170 ms, sys: 44 ms, total: 214 ms
Wall time: 1.56 s

In [36]:
dados_exemplo_1

,coadd_object_id,ra,dec,flags_g,mag_auto_g_dered,mag_auto_r_dered,mag_auto_i_dered,magerr_auto_g,magerr_auto_r,magerr_auto_i
0,1385059826,51.510085,-31.496561,0,25.813513,25.728491,26.237284,0.273538,0.329340,0.898923
1,1385059863,51.514219,-31.496933,0,25.675571,27.306097,25.665340,0.312875,1.828474,0.697892
2,1385058120,51.500764,-31.478853,1,26.093040,25.596527,24.910463,0.463020,0.401049,0.346084
3,1385058984,51.507416,-31.487290,0,24.475168,24.250395,24.752321,0.205280,0.217242,0.578245
4,1385058729,51.506385,-31.484722,0,99.000000,25.160255,25.887598,99.000000,0.322327,1.054902
...,...,...,...,...,...,...,...,...,...,...
19816,1392460896,52.496438,-30.519953,0,30.165565,25.393127,24.534126,19.676941,0.307167,0.280659
19817,1392460891,52.497409,-30.519969,0,25.530184,25.047159,24.428396,0.404243,0.327485,0.365537
19818,1392460511,52.498662,-30.516464,0,99.000000,25.302097,25.738848,99.000000,0.289596,0.876414
19819,1392460370,52.497763,-30.515173,0,28.041370,26.648363,25.769421,2.300045,0.806141,0.685068
19820,1392459799,52.497769,-30.508551,0,24.749453,24.907518,24.977482,0.138342,0.189350,0.372249

In [48]:
query_2 = """SELECT 
coadd_object_id, ra ,dec, flags_g, mag_auto_g_dered, mag_auto_r_dered, 
mag_auto_i_dered, magerr_auto_g, magerr_auto_r, magerr_auto_i 
FROM des_dr2.main 
WHERE q3c_radial_query(ra, dec, 52.0, -31.0, 0.5) 
AND extended_class_coadd < 2 """
dados_exemplo_2 = db.fetchall_df(query_2)

In [49]:
dados_exemplo_2.to_csv('NGC1344.csv', index=False)

In [51]:
query_menor = """SELECT 
    coadd_object_id, ra ,dec, flags_g, mag_auto_g_dered, mag_auto_r_dered, 
    mag_auto_i_dered, magerr_auto_g, magerr_auto_r, magerr_auto_i 
FROM des_dr2.main 
WHERE q3c_radial_query(ra, dec, 52.1, -31.1, 0.1) 
AND extended_class_coadd < 2 """

dados_menor = db.fetchall_df(query_menor)

dados_menor.to_csv('NGC1344-menor.csv', index=False)